.login-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 45px;
    text-align: right;
    padding: 5px 100px;
    button {
      border: none;
      padding: 3px 15px;
      border-radius: 5px;
      margin-left: 15px;
      background-color: #adadad;
      &:hover {
        background-color: #e2dfdf;
      }
    }
  }
  .title {
    font-size: 25px;
    padding: 20px 0;
    text-align: center;
  }
  .welcome {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
  }
  .content-form {

    input {
     margin: 15px 0 15px 0;
    }

    button {
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 5px;
      background-color: #adadad;
      margin: 10px 0px;
      &:hover {
        background-color: #e2dfdf;
      }
    }

    .back {
      cursor: pointer;
    }
  }
}

.signup-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 45px;
    text-align: right;
    padding: 5px 100px;
    button {
      border: none;
      padding: 3px 15px;
      border-radius: 5px;
      margin-left: 15px;
      background-color: #adadad;
      &:hover {
        background-color: #e2dfdf;
      }
    }
  }
  .title {
    font-size: 25px;
    padding: 20px 0;
    text-align: center;
  }
  .welcome {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
  }
  .content-form {

    input {
 
     width: 100%;

     margin: 15px 0 15px 0;
    }

    button {
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 5px;
      background-color: #adadad;
      margin: 10px 0px;
      &:hover {
        background-color: #e2dfdf;
      }
    }

    .back {
      cursor: pointer;
    }

    .pass-group {
      position: relative;
      .icons-eye {
         position: absolute;
         right: 10px;
         bottom: 10px;
      }
    }
  }
}